Repository ritscc/soukai-2022-2, pull requests merged in 2023-02, with the labels that each got.

#126 総務局の備品業務方針を執筆しました。
  src/houshin/soumu/06_bihin.tex
Labels: 方針, 総務局

#125 総務局の会内行事方針を執筆しました。
  src/houshin/soumu/05_gyozi.tex
Labels: 方針, 総務局

#124 総務局の書記業務方針を執筆しました。
  src/houshin/soumu/04_syoki.tex
Labels: 方針, 総務局

#61 新歓方針を執筆
  src/houshin/zentai/04_sinkan.tex
Labels: 方針, 全体

#123 新3回生方針を執筆しました。
  src/houshin/3kai.tex
Labels: 方針, 回生

#105 会計財務総括を執筆
  src/soukatsu/kaikei/02_zaimu.tex
Labels: 総括

#121 ＃1全体総括
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

#120 総務の掃除方針を書きました
  src/houshin/soumu/03_souzi.tex
Labels: 方針, 総務局

#119 総務の風紀方針を書きました
  src/houshin/soumu/02_huuki.tex
Labels: 方針, 総務局

#118 　総務の全体方針を書きました
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

#127 立命の家方針を修正
  src/houshin/zentai/07_ritumeihouse.tex
Labels: 方針, 全体

#128 研推プロジェクト方針をあげなおしました
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

#112 シス管引き継ぎ総括を記述
  src/soukatsu/system/05_hikitugi.tex
Labels: 総括, システム管理局

#111 運営総括
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#113 運営方針を執筆しました
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

#106 会計財政総括を執筆
  src/soukatsu/kaikei/03_zaisei.tex
Labels: 総括

#129 研推LT方針を修正
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

#104 会計全体総括を執筆
  src/soukatsu/kaikei/01_zentai.tex
Labels: 総括

#103 総務局の備品業務総括を執筆しました。
  src/soukatsu/soumu/06_bihin.tex
Labels: 総括, 総務局

#102 総務局の会内行事総括を執筆しました。
  src/soukatsu/soumu/05_gyozi.tex
Labels: 総括, 総務局

#101 総務局の書記業務総括を執筆しました。
  src/soukatsu/soumu/04_syoki.tex
Labels: 総括, 総務局

#100 総務局の掃除業務総括を執筆しました。
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

#99 総務局の風紀業務総括を執筆しました。
  src/soukatsu/soumu/02_huuki.tex
Labels: 総括, 総務局

#98 総務局の全体総括を執筆しました。
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

#110 会計財政方針を執筆
  src/houshin/kaikei/03_zaisei.tex
Labels: 方針

#109 会計財務方針を執筆
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針

#108 会計全体方針
  src/houshin/kaikei/01_zentai.tex
Labels: 方針

#97 シス管全体総括を執筆しました
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

#96 #87 全体会誌方針
  src/houshin/zentai/05_kaishi.tex
Labels: 方針, 全体

#95 局会議総括を執筆しました
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

#94 システム管理局勉強会総括を執筆
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

#93 *二回生方針*
  src/houshin/2kai.tex
Labels: 方針, 回生

#92 新局員総括を執筆しました
  src/soukatsu/system/06_sinkyokuin.tex
Labels: 総括, システム管理局

#86 局会議方針を執筆しました
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

#85 サーバー管理方針の記述終わりました
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

#84 Okisidentarisu/houshin/system
  src/houshin/system/03_study.tex
Labels: 方針, システム管理局

#82 渉外局全体総括を執筆
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

#81 渉外総括SNS執筆
  src/soukatsu/syogai/04_twitter.tex
Labels: 総括, 渉外局

#91 *システム全体方針終わり*
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

#80 渉外局ウェブ総括変更
  src/soukatsu/syogai/05_web.tex
Labels: 総括, 渉外局

#131 会計財務総括の文字修正
  src/soukatsu/kaikei/02_zaimu.tex
Labels: 総括

#130 3回総括数字関連修正
  src/soukatsu/3kai.tex
Labels: 総括, 回生

#79 渉外局局会議総括
  src/soukatsu/syogai/03_kyokukaigi.tex
Labels: 総括, 渉外局

#78 渉外総括アドカレ執筆
  src/soukatsu/syogai/02_adokare.tex
Labels: 総括, 渉外局

#74 渉外局局会議方針を執筆
  src/houshin/syogai/02_kyokukaigi.tex
Labels: 方針, 渉外局

#73 渉外局方針WEB執筆
  src/houshin/syogai/04_web.tex
Labels: 方針, 渉外局

#69 渉外局全体方針を執筆
  src/houshin/syogai/01_zentai.tex
Labels: 方針, 渉外局

#77 渉外局ツイッター方針を執筆
  src/houshin/syogai/03_twitter.tex
Labels: 方針, 渉外局

#63 サーバー管理総括を執筆
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

#62 春学期活動方針を執筆
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

#60 シス管の引継ぎ方針を執筆
  src/houshin/system/05_hikitsugi.tex
Labels: 方針, システム管理局

#56 #3 全体プロジェクト活動総括
  src/soukatsu/zentai/03_project.tex
Labels: 総括, 全体

#132 2回生総括を修正
  src/soukatsu/2kai.tex
Labels: 総括, 回生

#58 #30 学園祭方針
  src/houshin/zentai/06_gakuensai.tex
Labels: 方針, 全体

#57 #4 1回生総括
  src/soukatsu/1kai.tex
Labels: 総括, 回生

#55 研推全体方針かきました
  src/houshin/kensui/01_zentai.tex
Labels: 方針, 研究推進局

#52 #12 研推LT総括
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

#54 #10 研推全体総括
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

#51 #28 全体プロジェクト活動方針
  src/houshin/zentai/03_project.tex
Labels: 方針, 全体

#53 #11 研推プロジェクト総括
  src/soukatsu/kensui/02_project.tex
Labels: 総括, 研究推進局
